{% extends 'base.html.twig'%}

{% block title %}
    {{ad.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="AdTitre">
            <h1>{{ad.title}}</h1>
            <p>{{ad.introduction}}</p>
            <p class="h2">
                <strong>{{ad.rooms}} chambre(s) pour {{ad.price}} &euro; </strong> par nuit
            </p>
            <a href="#" class="btn btn-primary">Reserve ça !</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit',{'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce !</a>
                <a href="{{ path('ads_delete', {'slug' : ad.slug} )}}" class="btn btn-danger" onclick="return confirm(`Êtes-vous sur de vouloir supprimer {{ad.title}} ?`)">Supprimer cette annonce </a>
            {% endif %}
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ad.contenu | raw }}

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                    {% for image in ad.images %}
                        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active"  {% endif %}> </li>
                    {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ image.url }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>   
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>

            <div class="col">
                {% set a = ad.author %}
                

                <div class="row">
                    <div class="col-2">
                        <a href="{{ path('user_show', {'slug': a.slug}) }}">
                            <img src="{{a.picture}}" class="avatar avatar-medium" alt="Avatar de {{a.fullName}}">
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ path('user_show', {'slug': a.slug}) }}">
                            <h3>{{a.fullName}}</h3>
                        </a>
                        <span class="badge badge-primary">
                            Il a posté {{a.ads | length}} annonces !
                        </span>
                    </div>
                </div>
                {{a.description | raw}}
            </div>
            
        </div>
    </div>



{% endblock %}